$bodyBackground: #dbdbe3;
$headerBackground: #ffffff;
$rightSideBackground: #FF0000FF;
$centerBackground: #87dc54;
$leftSideBackground: #dbdbe3;
$inputSearchBackground: #edeef0;
$iconsColor: #6f7985;
$sideIcons: #5181b8;
$linkText: #000000FF;
$hr: rgb(5, 5, 8);
$textLink: #2a5885;
