$bodyBackground: #dbdbe3;
$headerBackground: #ffffff;
$common: #d8ee4c;
$navigationBackground: #FF0000FF;
$contentBackground: #87dc54;
$eventsBackground: #534be8;
$inputSearchBackground: #edeef0;
$iconsColor: #6f7985;
