@import "colors";
@import "font-weights";
@import "mixins";

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: $bodyBackground;
  font-family: -apple-system, sans-serif;
  font-weight: $fontBody;
  font-size: 13px;
}


li {
  list-style-type: none;
}

.header {
  background: $headerBackground;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;

  @media screen and (max-width: 575px) {
    margin-bottom: 20px;

  }

  .header__container {
    @include flex-between;
    padding: 5px 5%;


    @media screen and (max-width: 749px) {
      .logo {
        display: none;
      }
    }
    @media screen and (max-width: 575px) {

      .search-content {
        width: 80px;
      }
      .icon {
        margin-right: -10px;
      }
    }
  }
}

.nav-left {
  display: flex;

  .nav-left__lists {
    display: flex;
    align-items: center;

    .nav-left__lists__list {
      display: flex;

      .icon {
        display: flex;
        position: relative;

        .notification-icon {
          width: 30px;
          height: 30px;
          position: relative;
        }

        .notification-text {
          background-color: red;
          font-size: xx-small;
          position: absolute;
          padding: 1px;
          top: 1px;
          left: 20px;
          border-radius: 25px;
        }

        .nav-left__icon {
          width: 28px;
          margin: 0 10px;
          color: $iconsColor;
        }
      }

      .search-content {
        padding: 0 0 0 34px;
        height: 32px;
        border-radius: 8px;
        margin: 0;
        border: 0;
        background-color: $inputSearchBackground;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: 10px;
        background-repeat: no-repeat;
      }
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;

  .nav-user__icon {

    .user-icon {
      border-radius: 50%;
      width: 32px;
      max-width: 100%;
    }
  }

  .user-name {
    margin-right: 10px;
  }

  .icon {
    color: $iconsColor;
    margin: 0 7px;
  }
}

.logo {
  margin-right: 45px;
}

.content-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  gap: 10px;

  @media (max-width: 1200px) {
    max-width: 1020px;
  }

  @media screen and (max-width: 1279px) {
    max-width: 920px;
  }

  @media screen and (max-width: 991px) {
    max-width: 720px;
    .story-container {
      max-width: 100px;
      width: 100%;
    }
  }


@media screen and (max-width: 767px) {
  max-width: 520px;
  width: 100%;
  .story-container {
     max-width: 500px;
     width: 100%;
  }
  .user-story__plus-image {
    left: 40px;
  }
  .story {
    max-height: 230px;

    .story__text {
      display: flex;
      justify-content: center;
    }
  }

  .user-news {
    @include flex-column;

    .right-user-news {
      display: flex;
      justify-content: center;
    }

    .left-user-news {
      display: flex;
      align-self: center;
    }
  }

  .main-content {
    .posts {
      max-height: 450px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  max-width: 100%;
  padding: 0 10px;

  .link-text {
    display: none;
  }
  .hr {
    display: none;
  }
  .ad-links {
    display: none;
  }
  .left-sidebar {
    display: flex;
    flex-basis: 10%;
  }
  .right-sidebar {
    display: none;
  }
  .left-user-news {
    display: flex;
    align-self: center;
    gap: 30px;
  }
}


.left-sidebar {
  flex-basis: 15%;
  top: 80px;
  align-self: flex-start;

  .left-sidebar__links {

    .hr {
      border-top: 1px solid $hr;
      padding-top: 9px;
      margin: 9px 0 0 36px;
    }

    .left-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $sideIcons;
      width: fit-content;
      font-size: 13px;
      margin-bottom: 10px;


      .link-text {
        color: $linkText;
      }

      .left-icon {
        width: 25px;
        margin-right: 15px;
      }
    }
  }

  .ad-links {

    .left-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 6px;
      color: $sideIcons;
      width: fit-content;
      font-size: 13px;
      margin: 15px 0 13px;
    }

    .ad-item {
      max-height: 140px;
      max-width: 140px;
    }
  }
}

.right-sidebar {
  flex-basis: 15%;
  position: sticky;
  width: 100%;

  .events {
    background: $headerBackground;
    border-radius: 4px;
    height: 180px;
    padding-top: 10px;

    .hr-right {
      border-top: 1px solid $hr;
      margin: 6px 15px;
    }

    .right-link {
      color: $textLink;
      text-decoration: none;
      padding-left: 10px;
    }
  }

  .toggle-block {
    display: inline-block;
    background: $headerBackground;
    margin: 15px 0;
    height: 40px;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    .toggle-block__filter {
      display: flex;
      align-items: center;

      .toggle-block__filter__image {
        margin-right: 6px;
      }
    }

    .toggle-block__filter__text {
      font-size: 9px;
      margin-right: 6px;
    }
  }
}

.main-content {
  flex-basis: 90%;
  background-color: $bodyBackground;

  .user-news {
    display: flex;
    background-color: $headerBackground;

    .left-user-news {
      @include flex-between;
      max-width: 220px;
      width: 100%;


      .left-news__image {
        position: relative;
        left: 20px;
        top: 10px;
        max-width: 28px;
        height: 28px;
        border-radius: 50%;
        width: 100%;
      }

      .user-news__input {
        border: 0;
        width: 100%;
        min-height: 52px;
        max-height: 52px;
      }
    }

    .right-user-news {
      display: flex;
      justify-content: end;
      align-items: center;
      max-width: 500px;
      width: 100%;

      @media screen and (max-width: 767px) {
        justify-content: center;
      }

      .news-divider {
        width: 5px;
        height: 13px;
        border-left: 1px solid #929394FF;
        opacity: 0.8;
      }

      .icon {
        color: $iconsColor;
        margin-right: 10px;
        opacity: 0.8;
      }

      .user-news__links {
        color: $iconsColor;
      }
    }
  }

  .story {
    margin: 15px 0;
    background-color: $headerBackground;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-items: center;
    padding-left: 10px;

    @media screen and (max-width: 575px){
      padding-left: 60px;
    }

    .story__text {
      padding-top: 10px;
      margin-bottom: 5px;
    }

    .story-container {
      max-width: 600px;
      width: 100%;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;

      @media screen and (max-width: 991px){
        max-width: 450px;
        width: 100%;
      }
      @media screen and (max-width: 767px){
        max-width: 260px;
        width: 100%;
        .item-img{
          height: 140px;
        }
      }
      @media screen and (max-width: 575px){
        max-width: 350px;
        width: 100%;
      }

      @media screen and (max-width: 500px){
        max-width: 300px;
        width: 100%;
      }

      @media screen and (max-width: 450px){
        max-width: 250px;
        width: 100%;
      }
      @media screen and (max-width: 400px){
        max-width: 190px;
        width: 100%;

        .user-story__image{
          max-height: 150px;
          height: 100%;
        }
      }

        .item-img {
          margin-top: 10px;

          .user-story__image{
            border-radius: 8%;
            max-height: 220px;
            height: 100%;
            margin-left: 10px;
          }
        }
    }
  }

  .posts {
    background-color: $headerBackground;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;

    img {
      position: relative;
      right: 10px;
      padding-left: 20px;
      padding-top: 20px;
      max-width: 600px;
      width: 100%;
    }


    .top-params {
      @include flex-between;

      .left-top-params {
        display: flex;
        padding-top: 10px;

        .post-time {
          color: $timePost;
        }
      }
    }

    .right-top-params {
      padding-top: 10px;
      padding-right: 5px;

      .right-top-params__image {
        color: #929394;
        height: 15px;
        width: 15px;
      }
    }

    .post-user {

      .post-user__image {
        position: relative;
        bottom: 20px;
        max-width: 50px;
        width: 100%;
        height: 50px;
      }
    }

    .post-divider {
      margin-top: 20px;
      border-bottom: 1px solid #9b9999;
    }

    .post-params {
      @include flex-between;
      max-width: 700px;
      width: 100%;

      .left-params {
        display: flex;

        .left-params__image {
          @include post-bottom
        }

        .counter {
          padding-top: 25px;
        }
      }

      .right-params {
        display: flex;
        margin-right: 10px;

        .right-params__image {
          @include post-bottom
        }

        .counter {
          padding-top: 25px;
        }
      }
    }
  }
}

}

