@import "colors";
@import "font-weights";

/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: $bodyBackground;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
  'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali",
  "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic",
  "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer",
  "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu",
  "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
  line-height: 1.154;
  font-weight: $fontBody;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 13px;
}


li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  min-height: 100%;
  height: 100%;
  width: 100%;
  flex-direction: column;
}


header {
  background: $headerBackground;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;

  @media screen and (max-width: 575px) {
    margin-bottom: 20px;

  }

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;


    @media screen and (max-width: 749px) {
      .logo {
        display: none;
      }
    }
    @media screen and (max-width: 575px) {

      .search-content {
        width: 80px;
      }
      .icon {
        margin-right: -10px;
      }
    }
  }
}

.nav-left {
  display: flex;

  ul {
    display: flex;
    align-items: center;

    li {
      display: flex;

      .icon {
        display: flex;
        position: relative;

        .notification-icon {
          width: 30px;
          height: 30px;
          position: relative;
        }

        .notification-text {
          background-color: red;
          font-size: xx-small;
          position: absolute;
          padding: 1px;
          top: 1px;
          left: 20px;
          border-radius: 25px;
        }

        svg {
          width: 28px;
          margin: 0 10px;
          color: $iconsColor;
        }
      }

      input {
        padding: 0 0 0 34px;
        height: 32px;
        border-radius: 8px;
        margin: 0;
        border: 0;
        background-color: $inputSearchBackground;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: 10px;
        background-repeat: no-repeat;
      }
    }
  }
}

.nav-right {
  display: flex;
  align-items: center;

  .nav-user-icon {
    img {
      border-radius: 50%;
      width: 32px;
      max-width: 100%;
    }
  }

  .user-name {
    margin-right: 10px;
  }

  .icon {
    color: $iconsColor;
    margin: 0 7px;
  }
}

.logo {
  margin-right: 45px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  gap: 10px;

  @media (max-width: 1200px) {
    max-width: 1020px;
  }

  @media screen and (max-width: 1279px) {
    max-width: 920px;
  }

  @media screen and (max-width: 991px) {
    max-width: 720px;
  }

  @media screen and (max-width: 767px) {
    max-width: 520px;
    width: 100%;
    .story-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    .story {
      min-height: 1100px;
    }

    .user-news {
      display: flex;
      flex-direction: column;

      .right-user-news {
        display: flex;
        justify-content: center;
      }

      .left-user-news {
        display: flex;
        align-self: center;
      }
    }

    .main-content{
      .posts{
        height: 300px!important;
      }
    }
  }

  @media screen and (max-width: 575px) {
    max-width: 100%;
    padding: 0 10px;

    .link-text {
      display: none;
    }
    .hr {
      display: none;
    }
    .ad-links {
      display: none;
    }
    .left-sidebar {
      display: flex;
      flex-basis: 10%;
    }
    .right-sidebar {
      max-width: 62px;
      width: 100%;

      .events{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 5px;
        font-size: 7.5px;
      }
      .toggleBlock{
        display: flex;
        width: 62px;
        .interesting-text{
          display: none;
        }
      }
    }
    .left-user-news{
      display: flex;
      align-self: center;
      gap: 30px;
    }
  }


  .left-sidebar {
    flex-basis: 15%;
    top: 80px;
    align-self: flex-start;

    .links {
      .hr {
        border-top: 1px solid $hr;
        padding-top: 9px;
        margin: 9px 0 0 36px;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $sideIcons;
        width: fit-content;
        font-size: 13px;
        margin-bottom: 10px;

        .link-text {
          color: $linkText;
        }

        svg {
          width: 25px;
          margin-right: 15px;
        }
      }
    }

    .ad-links {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 6px;
        color: $sideIcons;
        width: fit-content;
        font-size: 13px;
        margin: 15px 0 13px !important;
      }

      img {
        max-height: 140px;
        max-width: 140px;
        overflow: hidden !important;
      }
    }
  }

  .right-sidebar {
    flex-basis: 15%;
    position: sticky;
    align-self: flex-start;

    .events {
      background: $headerBackground;
      border-radius: 4px;
      height: 180px;
      padding-top: 10px;

      .hr-right {
        border-top: 1px solid $hr;
        margin: 6px 15px;
      }

      a {
        color: $textLink;
        text-decoration: none;
        padding-left: 10px;
      }
    }

    .toggleBlock {
      display: inline-block;
      background: $headerBackground;
      margin: 15px 0;
      height: 50px;
      border-radius: 4px;
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;

      .interesting-text{
         font-size: 9.5px;
      }
    }
  }

  .main-content {
    flex-basis: 60%;
    background-color: $bodyBackground;

    .user-news {
      display: flex;
      background-color: $headerBackground;

      .left-user-news {
        max-width: 220px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
          position: relative;
          left: 20px;
          top: 10px;
          max-width: 28px;
          height: 28px;
          border-radius: 50%;
          width: 100%;
        }

        input {
          border: 0;
          width: 100%;
          min-height: 52px;
          max-height: 52px;
        }
      }

      .right-user-news {
        display: flex;
        justify-content: end;
        align-items: center;
        max-width: 500px;
        width: 100%;

        .news-divider {
          width: 5px;
          height: 13px;
          border-left: 1px solid #929394FF;
          opacity: 0.8;
        }

        .icon {
          color: $iconsColor;
          margin-right: 10px;
          opacity: 0.8;
        }

        a {
          color: $iconsColor;
        }
      }
    }

    .story {
      margin: 15px 0;
      background-color: $headerBackground;
      width: 100%;
      height: 300px;
      align-items: center;
      justify-items: center;
      padding-left: 10px;

      .story-container {
        display: flex;
        justify-content: space-between;

        .user-story {
          flex-basis: 100%;
          position: relative;
          border-radius: 10px;

          .plus {
            position: absolute;
            height: 34px;
            width: 34px;
            border-radius: 35%;
            left: 50px;
            top: 150px;
            background: white;
          }

          img {
            margin-top: 10px;
            border-radius: 8%;
            top: 100px;
            left: 73px;
            max-width: 130px;
            width: 100%;
            height: 230px;
          }
        }
      }
    }

    .posts {
      background-color: $headerBackground;
      width: 100%;
      height: 500px;
      margin-bottom: 20px;

      .top-params{
        display: flex;
        justify-content: space-between;

        .left-top-params{
          display: flex;
          padding-top: 10px;

          .post-time{
            color: gray;
          }
        }
        }
        .right-top-params{
          padding-top: 10px;
          padding-right: 5px;

          svg{
            color: #929394;
            height: 15px;
            width: 15px;
          }

      }

      .post-image {
        img {
          position: relative;
          bottom: 20px;
          max-width: 50px;
          width: 100%;
          height: 50px;
        }
      }

      img {
        position: relative;
        right: 10px;
        padding-left: 20px;
        padding-top: 20px;
        max-width: 600px;
        width: 100%;
      }

      .post-divider {
        margin-top: 20px;
        border-bottom: 1px solid #9b9999;
      }

      .post-params {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        width: 100%;

        .left-params {
          display: flex;
          img {
            width: 45px;
            height: 45px;
          }
          .counter{
            padding-top: 25px;
          }
        }

        .right-params {
          display: flex;
          margin-right: 10px;
          img {
            width: 45px;
            height: 45px;
          }
          .counter{
            padding-top: 25px;
          }
        }
      }
    }
  }
}

